.footer{
    height: 60px;
    width: 100%;
    background-color: #ece5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > h1{
    font-weight: 200;
    font-size: 40px;
    color: black;
}