.banner{
    width: 100%;
    height: 500px;
    background: url(https://picsum.photos/1200/500
    ) ;

    background-size:cover;
    background-position:center;
}

.banner img{
    width: 100%;
    height: 500px;
}

/* .banner .wrap{
    width: 1200px;
    margin: 0 auto;
} */

.banner-two{
    width: 100%;
    background: url(https://picsum.photos/seed/3/1200/400) ;
    background-size:cover;
    background-position:center;
    position: relative;
}

.banner-two > img{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.banner-two .container{
    width: 100%;
    height: 400px;
}

.banner-two .container .wrap{
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-two .container .wrap .title{
    color: white;
    font-weight: bolder ;
    font-size: 30px;
    padding: 0 0 50px;
}

.banner-two .container .wrap .content{
    color: white;
    font-size: 20px;
    padding: 0 10px 60px;
}

.banner-two .container .wrap > a{
    display: block;
    box-sizing: border-box;
    border: solid 1px #F9BA48;
    background-color: #F9BA48;
    width: 112px;
    height: 44px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-two .container .wrap > a:hover{
    background-color:rgba(0%, 0%, 100%, 0);
    color: #d49a2d;
    animation: bannerAnimate 0.1s forwards;
}

@keyframes bannerAnimate{
    0%{
        background-color:rgba(212, 154, 45, 1);
    }
    50%{
        background-color:rgba(212, 154, 45, 0.5);
    }
    100%{
        background-color:rgba(212, 154, 45, 0);
    }
}

@media screen and (max-width: 768px){
    .banner-two .container .wrap > a:hover{
        background-color: #F9BA48;
        color: white;
        animation: none
    }
}